<div class="container mt-4">

  <h2 class="mb-3">Warehouse CRUD</h2>

  <!-- FORM -->
  <form (ngSubmit)="isEditMode ? updateWarehouse() : addWarehouse()">

    <div class="row">

      <div class="col-md-4 mb-2">
        <label>Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="warehouse.name"
          name="name"
          required
        />
      </div>

      <div class="col-md-4 mb-2">
        <label>Location</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="warehouse.location"
          name="location"
          required
        />
      </div>

      <div class="col-md-4 mb-2">
        <label>Capacity</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="warehouse.capacity"
          name="capacity"
          required
        />
      </div>

      <div class="col-md-4 mb-2">

  <label>Manager</label>

  <select
    class="form-control"
    [(ngModel)]="warehouse.managerId"
    name="managerId"
    required
  >

    <option value="">Select Manager</option>

    <option
      *ngFor="let user of users"
      [value]="user.userId"
    >
      {{ user.name }}
    </option>

  </select>

</div>

      <div class="col-md-4 mb-2">
        <label>Status</label>

        <select
          class="form-control"
          [(ngModel)]="warehouse.isActive"
          name="isActive"
        >
          <option [ngValue]="true">Active</option>
          <option [ngValue]="false">Inactive</option>
        </select>
      </div>

    </div>

    <button
      type="submit"
      class="btn btn-primary mt-3"
    >
      {{ isEditMode ? 'Update' : 'Save' }}
    </button>

    <button
      type="button"
      class="btn btn-secondary mt-3 ms-2"
      (click)="resetForm()"
    >
      Reset
    </button>

  </form>

  <hr />

  <!-- TABLE -->
  <table class="table table-bordered table-striped mt-3">

    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Capacity</th>
        <th>Manager ID</th>
        <th>Status</th>
        <th width="180">Action</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let item of warehouses">

        <td>{{ item.name }}</td>
        <td>{{ item.location }}</td>
        <td>{{ item.capacity }}</td>
        <td>{{ item.managerId }}</td>

        <td>
          {{ item.isActive ? 'Active' : 'Inactive' }}
        </td>

        <td>

          <button
            class="btn btn-warning btn-sm me-2"
            (click)="editWarehouse(item)"
          >
            Edit
          </button>

          <button
            class="btn btn-danger btn-sm"
            (click)="deleteWarehouse(item.id)"
          >
            Delete
          </button>

        </td>

      </tr>

    </tbody>

  </table>

</div>
