<div class="container mt-4">
  <h3>{{ isEditeMode ? 'Edit Employee' : 'Add New Employee' }}</h3>
  <form (ngSubmit)="save()" #employeeForm="ngForm">
    <div class="mb-3">
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="employee.name" name="name" required>
    </div>
    <div class="mb-3">
      <label>Email</label>
      <input type="email" class="form-control" [(ngModel)]="employee.email" name="email" required>
    </div>
    <div class="mb-3">
      <label>Position</label>
      <input type="text" class="form-control" [(ngModel)]="employee.position" name="cellNo" required>
    </div>
    <div class="mb-3">
      <label>salary</label>
      <input type="text" class="form-control" [(ngModel)]="employee.salary" name="fee" required>
    </div>
    <div class="mb-3">
      <label>Department Name</label>
      <input type="text" class="form-control" [(ngModel)]="employee.departmentName" name="fee" required>
    </div>


    <button type="submit" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-secondary ms-2" (click)="goBack()">Cancel</button>
  </form>
</div>